.jumbotron {
    padding: 30px 0px;
    margin: 0px;
    font-family: "Tangerine", "Apple Chancery", Papyrus, Chalkduster, Times, sans-serif;
    color: maroon;
}

.jumbotron h1 {
    font-size: 8em; 
}
  
.jumbotron h2 {
    font-size: 5em; 
}

#togButton {
    border: none;
}

#togButton img {
    margin: 19px;
}

#microNavbar{
    padding: 0px;
    margin: 0px;
}