@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

a {
    color: teal; 
}

h1, h2, h3 {
    font-family: "Tangerine", "Apple Chancery", Papyrus, Chalkduster, Times, sans-serif; 
}
  
h1, h2 {
    color: maroon; 
}
  
h1 {
    font-size: 7em; 
}
  
h2 {
    text-align: center;
    font-size: 5em; 
}
  
h3 {
    color: #2f31c0;
    font-size: 2.4em; 
}

img {
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20px;
    margin-bottom: 30px;  
}

p {
    font-family: cursive, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    color: deeppink;
    font-weight: bold; 
}

table {
    border: 1px solid black;
    margin: 45px 0px;
    background-color: rgba(255, 175, 164, 0.705);
}
  
  th, td {
    border-bottom: 1px solid black; 
}

.breadcrumb {
    background-color: #f8dfdf; 
}

.breadcrumb a {
    color: inherit;
}
    
.card {
    margin-bottom: 50px; 
}
    
.card-body {
    padding-bottom: 0px; 
}

.grayBook {
    margin-bottom: 25px;

}

.jumbotron {
    padding: 30px 0px;
    margin: 0px;
    font-family: "Tangerine", "Apple Chancery", Papyrus, Chalkduster, Times, sans-serif;
    color: maroon;
}

.jumbotron h1 {
    font-size: 8em; 
}
  
.jumbotron h2 {
    font-size: 5em; 
}

.tab-content {
    border: 3px solid rgba(248, 216, 35, 0.836);
    border-top: none;
    padding: 10px;
    margin-bottom: 0px; }

#crimsonRoom h2, #crimsonRoom p {
    color: red; 
}

#evergreens {
    margin-right: auto;
    margin-left: auto;
}

#footer p {
    font-size: 1.05em;
    font-family: Arial, Helvetica, sans-serif;
    color: #2f31c0;
}

#footer .btn-social-icon {
    margin-top: 10px;
}

#footer u {
    font-size: 1.2em;
}

#grandOak h2, #grandOak p {
    color: orange; 
}

#groupStudio li {
    font-size: 1.4em;
    font-weight: bolder;
    font-family: Gothic;
}

#groupStudio li .active {
    background-size: 100% 100%;
    color: cyan;
    border-bottom-color: transparent;
}

#indigoRoom h2, #indigoRoom p {
    color: violet; 
}

#map {
    border: none;
    background-color: rgba(164, 229, 255, 0.705); 
}

#microNavbar{
    padding: 0px;
    margin: 0px;
}

#neonRoom h2, #neonRoom p {
    color: greenyellow; 
}

#studioTabs li {
    font-size: 1.4em;
    font-weight: bolder;
    font-family: Gothic;
}

#studioTabs li .active {
    background-size: 100% 100%;
    color: cyan;
    border-bottom-color: transparent;
}

#sugarMaple h2, #sugarMaple p {
    color: orang; 
}

#togButton {
    border: none;
}

#togButton img {
    margin: 19px;
}